language: java
jdk:
  - openjdk8
branches:
  only:
    - master

# Travis CI 서버의 Home
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

# master 브랜치가 푸시되면 수행되는 명령어
script: "./gradlew clean build -x test"

before_deploy:
  - zip -r steammer-webservice *
  - mkdir -p deploy
  - mv steammer-webservice.zip deploy/steammer-webservice.zip

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY # travis repo에 설정돤 값

    secret_access_key: $AWS_SECRET_KEY

    bucket: steammer-webservice-build # s3 버킷
    region: ap-northeast-2
    skip_cleanup: true
    acl: private # zip파일 접근을 private
    local_dir: deploy
    wait-until-deploayed: true

  - provider: codedeploy
    access_key_id: $AWS_ACCESS_KEY # travis repo에 설정돤 값

    secret_access_key: $AWS_SECRET_KEY

    bucket: steammer-webservice-build #s3 버킷
    key: steammer-webservice.zip
    bundle_type: zip # 압축 확장자

    application: steammer-webservice # code deploy 어플리케이션
    deployment_group: steammer-webservice-group # code deploy 그룹
    region: ap-northeast-2
    wait-until-deployed: true

# CI 실행완료시 메일로 알람
notifications:
  email:
    recipients:
      - dldydtjs8124@gmail.com