<!DOCTYPE HTML>
<html>
<head>
    <title>steammer website</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style>
        body{
            background-color: #1b2838;
        }

        .container {
            padding-left: 30px;
        }

        .wrap {
            width: 80%;
            margin: auto;
        }

        .card{
            background-color: #202020;
            display: flex;
        }

        .card-body{
            color: #67c1f5;
        }

        .card-title{
            color: gray;
        }

        .card .tag-box{
            float: left;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 10px;
        }

        .card-sub-body{
            font-size: 12px;
            font-family: Arial;
        }

        .tag-box #game-tag{
            margin:3px;
        }

        #dev-company,#distributor,#review,#launch-date{
            float:left;
        }

        .header{
            background-color: #171a21;
            min-width: 940px;
        }

        p.card-text{
            font-size: 12px;
        }
    </style>
</head>
<body>
<div class="header">
    <h1>steam</h1>
</div>
<div class="wrap">
    <div class="container">
        <div class="card-deck">
            {{#games}}
                <div class="card">
                    <img class="card-img-top" src="{{imgUrl}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{gameName}}</h5>
                        <p class="card-text">{{gameInfo}}.</p>
                        <div class="card-sub-body">
                            <div class="summary column" id="launch-date">출시날짜:</div>
                            <div class="summary column">
                                <span class="game_review_summary mixed" style="margin-left: 20px">{{launchDate}}</span>
                            </div>
                            <div class="subtitle column all" id="review">모든 평가:</div>
                            <div class="summary column">
                                <span class="game_review_summary mixed" style="margin-left: 20px">{{evaluation}}</span>
                            </div>
                            <div class="dev_row">
                                <div class="subtitle column" id="dev-company">개발자:</div>
                                <span class="column" id="developers_list" style="margin-left: 20px">{{devCompany}}</span>
                                <div class="dev_row">
                                    <div class="subtitle column" id="distributor" >배급사:</div>
                                    <span class="column" style="margin-left: 20px">{{distributor}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "tag-box">
                        {{#gameTags}}
                            <a class="btn btn-secondary btn-sm" href="#" role="button" id="{{tag.tagId}}">{{tag.tagName}}</a>
                        {{/gameTags}}
                    </div>
                </div>
            {{/games}}
            <div class="card">
                <img class="card-img-top" src="https://cdn.cloudflare.steamstatic.com/steam/apps/848450/header.jpg?t=1620980478" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <div class="card-sub-body">
                        <div class="summary column" id="launch-date">출시날짜:</div>
                        <div class="summary column">
                            <span class="game_review_summary mixed" style="margin-left: 20px">2021-07-03</span>
                        </div>
                        <div class="subtitle column all" id="review">모든 평가:</div>
                        <div class="summary column">
                            <span class="game_review_summary mixed" style="margin-left: 20px">복합적</span>
                        </div>
                        <div class="dev_row">
                            <div class="subtitle column" id="dev-company">개발자:</div>
                            <span class="column" id="developers_list" style="margin-left: 20px">KRAFTON, Inc.</span>
                            <div class="dev_row">
                                <div class="subtitle column" id="distributor" >배급사:</div>
                                <span class="column" style="margin-left: 20px">KRAFTON, Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "tag-box">
                    <a class="btn btn-secondary btn-sm" href="#" role="button" id="game-tag">Link</a>
                    <a class="btn btn-secondary btn-sm" href="#" role="button" id="game-tag">Link</a>
                    <a class="btn btn-secondary btn-sm" href="#" role="button" id="game-tag">Link</a>
                    <a class="btn btn-secondary btn-sm" href="#" role="button" id="game-tag">Link</a>
                    <a class="btn btn-secondary btn-sm" href="#" role="button" id="game-tag">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>